<% if comments.size > 0 %>
    <h2 class="comments_area_header"><%= comments.count %> Comments:</h2>
    <% comments.each do |comment| %>
        <table class="comment fixed">
          <tr>
            <td style="vertical-align: top; padding-top: 3px;">
              #<%= comment.id %>
            </td>

            <td class="comment_body">
              <p class="comment_body_header">
                <span>
                  <%= @ticket.owner_name(comment.owner_id).upcase %>,
                  <%= comment.created_at %>
                </span>
              </p>
              <%= simple_format(h(comment.body)) %>
            </td>

            <td style="vertical-align: top; padding-top: 3px;">
              <% if (comment.owner_id == session[:user_id]) && authorized? %>
                  <%= link_to image_tag('delete-trash.png'), [comment.ticket, comment], method: :delete, data: {confirm: 'Are you sure?'} %>
              <% end %>
            </td>
          </tr>
        </table>
    <% end %>
<% end %>
