<% if ticket.comments.size > 0 %>
    <h2>Comments</h2>
    <div class="comments_area">
      <% ticket.comments.each do |comment| %>
          <div class="comment">
            <div class="header1">Comment [<%= comment.id %>] - <%= comment.created_at %></div>
            <div class="header2">User: [<%= owner_name(comment.owner_id) %>]</div>

            <div class="comment_body"><%= h comment.body %></div>

            <div class="delete_comment">
              <% if comment.owner_id == session[:user_id] %>
                  <%= link_to image_tag('delete-trash.png'), [comment.ticket, comment], method: :delete, data: {confirm: 'Are you sure?'} %>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
<% end %>
