<script type="text/javascript" charset="utf-8">
    setMainHeight();
</script>

<div class="container" xmlns="http://www.w3.org/1999/html">
  <div id="content">
    <div class="header">
      <h2 class="comment_header">
        Owner:
        <% if @support.nil? %>
            Customer
        <% else %>
            <%= @support.login_with_full_name %>
        <% end %>

        , UUID: <%= @ticket.uuid %>
      </h2>

      <div class="problem">
        <div style="font-weight: bold; font-size: 14px;">Problem:</div>
        <%= h @ticket.problem %>
      </div>

      <% cs = @ticket.current_status %>
      <% if (cs != 'Completed') && (cs != 'Cancelled') %>
          <%= render partial: 'form_add_comment', locals: {ticket: @ticket} %>
      <% end %>
    </div>

    <div class="comments_area">
      <%= render partial: 'comments', locals: {ticket: @ticket} %>
    </div>
  </div>
</div>
