<div class="container">
  <div id="content">
    <div id="main">
    <div id="header">
    <% if !@support.nil? %>
        <span class="owner_support">Owner: <%= @support.login_with_full_name %></span>
    <% else %>
        <span class="owner_customer">Owner: Customer</span>
    <% end %>

        <strong>Date:</strong>
        <%= @ticket.created_at %>

      <table>
        <thead>
        <tr>
          <th>UUID</th>
          <th>Status</th>
          <th>Owner</th>
          <th>Username</th>
          <th>E-mail</th>
          <th>Subject</th>

          <% if self.action_name == 'index' %>
              <th>Problem</th>
              <th colspan="3">Actions</th>
          <% end %>
        </tr>
        </thead>

        <tbody>
        <%= render partial: 'table_row', locals: {ticket: @ticket} %>
        </tbody>
      </table>

      <strong>Problem:</strong>
      <%= h @ticket.problem %>

      <%= render partial: 'form_add_comment', locals: {ticket: @ticket} %>
    </div>

    <%= render partial: 'comments', locals: {ticket: @ticket} %>
  </div>
  </div>
</div>
