<script type="text/javascript" charset="utf-8">
    setMainHeight();
</script>

<div class="container">
  <div id="content">
    <div class="header">
      <h2 class="comment_header">
        <span>
            <%= @ticket.owner_name(@ticket.support_id).upcase %>, UUID: <%= @ticket.uuid %>
        </span>
      </h2>

      <div class="problem">
        <div style="font-weight: bold; font-size: 14px;">Problem:</div>
        <%= h @ticket.problem %>
      </div>

      <%= not_closed_ticket? do %>
          <%= render partial: 'form_add_comment', locals: {ticket: @ticket} %>
      <% end %>
    </div>

    <div class="comments_area">
      <%= render partial: 'comments', locals: {comments: @comments} %>
    </div>
  </div>
</div>
