<tr class="<%= cycle('even', 'odd') %>">
  <td><%= ticket.uuid %></td>
  <td><%= ticket.current_status %></td>
  <td><%= ticket.current_support %></td>
  <td><%= h ticket.username %></td>
  <td><%= h ticket.email %></td>
  <td><%= h ticket.subject %></td>

  <% if self.action_name == 'index' %>
      <td><%= h ticket.problem %></td>

      <td><%= link_to image_tag('show-icon.png'), ticket_path(ticket) %></td>
      <td><%= link_to image_tag('edit-icon.png'), edit_ticket_path(ticket) %></td>

      <%= admin_area do %>
        <td><%= link_to image_tag('delete-trash.png'), ticket_path(ticket), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      <% end %>
  <% end %>
</tr>
