<header class="index_header">
  <span class="index_header_text">Edit ticket:</span>
</header>

<%= form_for :ticket, url: ticket_path(@ticket), method: :patch do |f| %>
    <% if @ticket.errors.any? %>
        <div id='error_explanation'>
          <h2><%= pluralize(@ticket.errors.count, 'error') %> prohibited this ticket from being saved:</h2>

          <ul>
            <% @ticket.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table style="border-collapse: collapse;">
      <tr bgcolor="#faebd7" style="height: 30px;">
        <td align="right" style="font-weight: bold;">
          <%= f.label :'Owner' %>
        </td>
        <td align="left" style="padding-left: 20px;">
          <%= f.collection_select :support_id, @supports, :id, :login_with_full_name, include_blank: true, :selected => @ticket.support_id %>
        </td>
      </tr>

      <tr bgcolor="#faebd7" style="height: 30px;">
        <td align="right" style="font-weight: bold;">
          <%= f.label :'State' %>
        </td>
        <td align="left" style="padding-left: 20px;">
          <%= f.collection_select :ticket_state_id, @states, :id, :name, include_blank: true, :selected => @ticket.ticket_state_id %>
        </td>
      </tr>

      <tr bgcolor="#faebd7" style="height: 30px;">
        <td align="right" style="font-weight: bold;">
          <%= f.label :'E-mail' %>
        </td>
        <td align="left" style="padding-left: 20px;">
          <%= h @ticket.email %>
        </td>
      </tr>

      <tr bgcolor="#faebd7" style="height: 30px;">
        <td align="right" style="font-weight: bold;">
          <%= f.label :Subject %>
        </td>
        <td align="left" style="padding-left: 20px;">
          <%= h @ticket.subject %>
        </td>
      </tr>

      <tr bgcolor="#faebd7" style="height: 30px;">
        <td align="right" style="font-weight: bold;">
          <%= f.label :Problem %>
        </td>
        <td align="left" style="padding-left: 20px;">
          <%= h @ticket.problem %>
        </td>
      </tr>

      <tr bgcolor="#deb887" style="height: 30px">
        <td></td>
        <td align="right" style="padding-right: 20px">
          <%= f.submit %>
        </td>
      </tr>
    </table>
<% end %>
