<script type="text/javascript" charset="utf-8">
    setMainHeight();

    $(document).ready(function () {
        $('.expand_button').click(function (e) {
            e.preventDefault(e);

            var cell = $(this).closest('.cell');
            cell.toggleClass('expanded');

            var isExpanded = cell.hasClass('expanded');

            if (isExpanded == true) {
                $('.cell').hide();
                cell.show();
            }
            else if (isExpanded == false)
                $('.cell').show();
        });
    });
</script>

<% content_for :thead do %>
    <thead>
    <tr> <th>UUID</th> <th>State</th> <th>Owner</th>
      <!--<th>Username</th> <th>E-mail</th>-->
      <th>Subject</th> <th>Problem</th> <th colspan='3'>Actions</th> </tr>
    </thead>
<% end %>

<div class="cell">
  <header>
    <span class="header_text">LT [unassigned]</span>
    <span class='expand_button'><%= link_to '', '#' %></span>
  </header>

  <table>
    <%= yield :thead %>

    <tbody> <%= render partial: 'tickets/table_row', collection: unassigned, as: :ticket %> </tbody>
  </table>
</div>

<div class="cell">
  <header>
    <span class="header_text">RT [opened]</span>
    <span class='expand_button'><%= link_to '', '#' %></span>
  </header>

  <table>
    <%= yield :thead %>

    <tbody> <%= render partial: 'tickets/table_row', collection: opened, as: :ticket %> </tbody>
  </table>
</div>

<div class="cell">
  <header>
    <span class="header_text">LB [on hold]</span>
    <span class='expand_button'><%= link_to '', '#' %></span>
  </header>

  <table>
    <thead>
    <%= yield :thead %>

    <tbody> <%= render partial: 'tickets/table_row', collection: onhold, as: :ticket %> </tbody>
  </table>
</div>

<div class="cell">
  <header>
    <span class="header_text">RB [closed]</span>
    <span class='expand_button'><%= link_to '', '#' %></span>
  </header>

  <table>
    <%= yield :thead %>

    <tbody> <%= render partial: 'tickets/table_row', collection: closed, as: :ticket %> </tbody>
  </table>
</div>