<div class="form">
  <%= form_for @ticket, url: tickets_path do |f| %>
      <fieldset>
        <legend>New ticket</legend>

        <% if @ticket.errors.any? %>
            <div id='error_explanation'>
              <h2><%= pluralize(@ticket.errors.count, 'error') %> prohibited this ticket from being saved:</h2>

              <ul>
                <% @ticket.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <p>
          <%= f.label :Username %>
          <%= f.text_field :username %>
        </p>

        <p>
          <%= f.label :'E-mail' %>
          <%= f.text_field :email %>
        </p>

        <p>
          <%= f.label :Subject %>
          <%= f.text_field :subject %>
        </p>

        <p>
          <%= f.label :Problem %>
          <%= f.text_area :problem, cols: 60, rows: 10 %>
        </p>

        <p>
          <%= f.submit %>
        </p>
      </fieldset>
  <% end %>
</div>

<%#= link_to 'Home', controller: 'application', action: 'index' %>
