<%= header_data do %>
    New ticket:
<% end %>

<%= form_for @ticket, url: tickets_path do |f| %>
    <% if @ticket.errors.any? %>
        <div id='error_explanation'>
          <h2><%= pluralize(@ticket.errors.count, 'error') %> prohibited this ticket from being saved:</h2>

          <ul>
            <% @ticket.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table style="border-collapse: collapse;">
      <tr bgcolor="#faebd7" style="height: 30px;">
        <td align="right" style="font-weight: bold;">
          <%= f.label :Username %>
        </td>
        <td align="left" style="padding-left: 20px;">
          <%= f.text_field :username, size: 40 %>
        </td>
      </tr>

      <tr bgcolor="#faebd7" style="height: 30px;">
        <td align="right" style="font-weight: bold;">
          <%= f.label :'E-mail' %>
        </td>
        <td align="left" style="padding-left: 20px;">
          <%= f.text_field :email, size: 40 %>
        </td>
      </tr>

      <tr bgcolor="#faebd7" style="height: 30px;">
        <td align="right" style="font-weight: bold;">
          <%= f.label :Subject %>
        </td>
        <td align="left" style="padding-left: 20px;">
          <%= f.text_field :subject, size: 40 %>
        </td>
      </tr>

      <tr bgcolor="#faebd7" style="height: 30px;">
        <td align="right" style="font-weight: bold; vertical-align: top;">
          <%= f.label :Problem %>
        </td>
        <td align="left" style="padding-left: 20px;">
          <%= f.text_area :problem, cols: 65, rows: 9 %>
        </td>
      </tr>

      <tr bgcolor="#deb887" style="height: 30px">
        <td></td>
        <td align="right" style="padding-right: 20px">
          <%= f.submit %>
        </td>
      </tr>
    </table>
<% end %>
