<% if flash[:notice] %>
        <p class="notification notice">
          <%= flash[:notice] %>
        </p>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', controller: 'welcome', action: 'index', anchor: 'tickets' %>

<% unless session[:user_id] %>
<%= link_to 'Home', controller: 'welcome', action: 'index', anchor: 'home' %>
| <%= link_to 'New ticket', action: 'new', controller: 'tickets' %>
<% end %>
