<table>
  <thead>
  <tr>
    <th width=50%>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @ticket_states.each do |ticket_state| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= ticket_state.name %></td>

        <td><%= link_to 'Edit', edit_ticket_state_path(ticket_state) %></td>
        <% if session[:role_name] == 'admin' %>
            <td><%= link_to 'Destroy', ticket_state, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>

  </tbody>
</table>

<% if session[:role_name] == 'admin' %>
    <%= link_to 'New Ticket State', new_ticket_state_path %>
<% end %>
