<script type="text/javascript" charset="utf-8">
    setMainHeight();
</script>

<%= header_data do %>
    Ticket states list:

    <%= admin_area do %>
      <%= link_to(image_tag('new-icon-24.png', alt: ''), new_ticket_state_path, class: 'button') %>
    <% end %>
<% end %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th width="40px">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @ticket_states.each do |ticket_state| %>
      <tr class='<%= cycle('even', 'odd') %>'>
        <td><%= ticket_state.name %></td>

        <td align='center'>
          <%= link_to image_tag('edit-icon.png', alt: ''), edit_ticket_state_path(ticket_state) %>
          <%= link_to image_tag('delete-trash.png', alt: ''), ticket_state, method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
