<script type="text/javascript" charset="utf-8">
    setMainHeight();
</script>

<%= header_data do %>
    Tabs list:

    <%= admin_area do %>
      <%= link_to(image_tag('new-icon-24.png'), new_tab_path, class: 'button') %>
    <% end %>
<% end %>

<table>
  <thead>
  <tr>
    <th width=30%>Name</th>
    <th width=60%>States</th>
    <th colspan='2'>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @tabs.each do |tab| %>
      <tr class='<%= cycle('even', 'odd') %>'>
        <td><%= raw tab.name %></td>
        <td>
          <% tab.states.each do |val| %>
              <%= @ticket_states[val.to_i-1].name %><br>
          <% end %>
        </td>

        <td align='center'><%= link_to image_tag('edit-icon.png'), edit_tab_path(tab) %></td>
        <td align='center'><%= link_to image_tag('delete-trash.png'), tab, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
