<script type="text/javascript" charset="utf-8">
    setMainHeight();

    $(":checkbox").change(function() {
        var id = $(this).attr('id');
        id = id.match(/\d+/);
        var checked = $(this).is(":checked");

        $.ajax({
            method: 'post',
            url: '/tabs/' + id + '/update_show',
            data: { id: id, checked: ~~checked },
            dataType: 'script'
        })
    });
</script>

<%= header_data do %>
    Tabs list:

    <%= admin_area do %>
      <%= link_to(image_tag('new-icon-24.png', alt: ''), new_tab_path, class: 'button') %>
    <% end %>
<% end %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th width="20px">Show</th>
    <th>States</th>
    <th width="40px">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @tabs.each do |tab| %>
      <tr class='<%= cycle('even', 'odd') %>' style="line-height: 20px;">
        <td><%= raw tab.name %></td>

        <td align="center">
          <%= render partial: 'checkbox', locals: {tab: tab}, layout: false %>
          <% if tab.show %>
            <%#= link_to image_tag('checked-checkbox-icon.png'), update_show_tab_path(tab.id, :checked => 0), method: :post  %>
          <% else%>
            <%#= link_to image_tag('unchecked-checkbox-icon.png'), update_show_tab_path(tab.id, :checked => 1), method: :post %>
          <% end %>
        </td>

        <td>
          <% tab.states.each do |val| %>
            <%= @ticket_states[val.to_i-1].name %><br>
          <% end %>
        </td>

        <td align='center'>
          <%= link_to image_tag('edit-icon.png', alt: ''), edit_tab_path(tab) %>
          <%= link_to image_tag('delete-trash.png', alt: ''), tab, method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
