<table>
  <thead>
    <tr>
      <th width="30%">Name</th>
      <th width="60%">Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= raw role.name %></td>
        <td><%= raw role.description %></td>

        <td><%= link_to 'Edit', edit_role_path(role) %></td>
        <% if session[:role_name] == 'admin' %>
          <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= link_to 'Home', controller: 'application', action: 'index' %>
<% if session[:role_name] == 'admin' %>
    <%= link_to 'New Role', new_role_path %>
<% end %>
