<%= form_for @support, url: change_password_support_path(@support), method: :patch, remote: true do |f| %>
    <table style="border-collapse: collapse;" class="ui-widget-content">
      <tr bgcolor="#faebd7" style="height: 30px;">
        <td align="right" style="font-weight: bold;">
          <%= f.label 'New password' %>
        </td>
        <td align="left" style="padding-left: 20px;">
          <%= f.password_field :password, size: 40 %>
        </td>
      </tr>

      <tr bgcolor="#faebd7" style="height: 30px;">
        <td align="right" style="font-weight: bold;">
          <%= f.label :password_confirmation %>
        </td>
        <td align="left" style="padding-left: 20px;">
          <%= f.password_field :password_confirmation, size: 40 %>
        </td>
      </tr>
    </table>
<% end %>
