<tr class="<%= cycle('even', 'odd') %>">
  <td><%= h support.login %></td>
  <td><%= h support.password %></td>
  <td><%= h support.first_name%></td>
  <td><%= h support.last_name %></td>
  <td><%= h support.email %></td>

  <td><%= h role.name %></td>

  <td><%= link_to 'Edit', edit_support_path(support) %></td>
  <% if session[:role_name] == 'admin' %>
      <td><%= link_to 'Destroy', support_path(support), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>
