<tr class="<%= cycle('even', 'odd') %>" style="line-height: 20px;">
  <td><%= h support.login %></td>
  <%# if admin? do %>
    <td>
      <%#= link_to image_tag('password-icon-16.png'), change_password_support_path(support) %>
      <%= link_to image_tag('password-icon-16.png', alt: ''), change_password_support_path(support), remote: true %>
      <%= h support.password %>
    </td>
  <%# end %>
  <td><%= h support.first_name %></td>
  <td><%= h support.last_name %></td>
  <td><%= h support.email %></td>

  <td><%= h role.name %></td>

  <td align='center'>
    <%= link_to image_tag('edit-icon.png', alt: ''), edit_support_path(support) %>
    <%= link_to image_tag('delete-trash.png', alt: ''), support_path(support), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
