<%= header_data do %>
    Change password for: <%= @support.login.upcase %>
<% end %>

<%= form_for @support, url: support_path(@support), method: :patch do |f| %>
    <% if @support.errors.any? %>
        <div id='error_explanation'>
          <h2><%= pluralize(@support.errors.count, 'error') %> prohibited this support from being saved:</h2>
          <ul>
            <% @support.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table style="border-collapse: collapse;">
      <tr bgcolor="#faebd7" style="height: 30px;">
        <td align="right" style="font-weight: bold;">
          <%= f.label 'New password' %>
        </td>
        <td align="left" style="padding-left: 20px;">
          <%= raw f.password_field :password, size: 40 %>
        </td>
      </tr>

      <tr bgcolor="#faebd7" style="height: 30px;">
        <td align="right" style="font-weight: bold;">
          <%= f.label 'Repeat password' %>
        </td>
        <td align="left" style="padding-left: 20px;">
          <%= raw f.password_field :password, size: 40 %>
        </td>
      </tr>

      <tr bgcolor="#deb887" style="height: 30px">
        <td></td>
        <td align="right" style="padding-right: 20px">
          <%= f.submit 'Update password' %>
        </td>
      </tr>
    </table>
<% end %>
