<p>
  <strong>Login:</strong>
  <%= raw @support.login %>
</p>

<p>
  <strong>First name:</strong>
  <%= raw @support.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= raw @support.last_name %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= raw @support.email %>
</p>

<br>

<%= link_to 'Home', controller: 'application' %>
| <%= link_to 'New support', controller: 'supports', action: 'new' %>
| <%= link_to 'Edit', edit_support_path(@support) %>
