<p>
  <strong>Login:</strong>
  <%= @support.login %>
</p>

<p>
  <strong>First name:</strong>
  <%= @support.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @support.last_name %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @support.email %>
</p>

<br>

<%= link_to 'Home', controller: 'welcome' %>
| <%= link_to 'New support', action: 'new', controller: 'supports' %>
| <%= link_to 'Edit', edit_support_path(@support) %>
