<header id="page_header" role="banner">
  <nav id="utility">
      <% if authorized? %>
        <div align="right" style="line-height: 24px;">
          <span style="vertical-align: top; padding-right: 10px;">
            You are logged in as <strong><%= session[:login] %></strong>
          </span>
          <span>
            <%= link_to image_tag('edit-user-icon-24.png'), controller: 'supports', action: 'edit', id: session[:user_id] %>
            <%= link_to image_tag('logout-icon-24.png'), controller: 'supports', action: 'logout' %>
          </span>
        </div>
      <% else %>
          <%= content_tag :div, render(partial: 'layouts/login'), :id => 'form_login' %>
      <% end %>
  </nav>

  <nav id="main_nav" role="navigation">
    <ul>
      <% if authorized? %>
          <li><%= link_to 'Tickets', controller: 'tickets' %></li>
          <li><%= link_to 'Supports', controller: 'supports' %></li>
          <li><%= link_to 'Roles', controller: 'roles' %></li>
          <li><%= link_to 'States', controller: 'ticket_states' %></li>
      <% else %>
          <li><%= link_to 'Home', '/' %></li>
          <li><%= link_to 'Creations', '#' %></li>
          <li><%= link_to 'Campaigns', '#' %></li>
          <li><%= link_to 'Projects', '#' %></li>
          <li><%= link_to 'Designers', '#' %></li>
      <% end %>
    </ul>
  </nav>
</header>
