<%= form_for :support, url: authenticate_path do |f| %>
    <div class="label">
      <div>
        <%= f.label :Login, class: 'label' %>
        <%= f.text_field :login %>
      </div>

      <div>
        <%= f.label :Password, class: 'label' %>
        <%= f.password_field :password %>
      </div>

      <%= f.submit('Login') %>
    </div>
<% end %>
