<!DOCTYPE html>
<html>
<head>
  <title>Hulalula</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%#= javascript_include_tag 'http://www.google.com/jsapi' %>
  <%= javascript_include_tag 'http://code.jquery.com/ui/1.11.0/jquery-ui.js' %>

  <%= javascript_include_tag 'tickets.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
